@import url('icons.css');
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html, body {margin: 0; padding: 0; font-family: 'proxima nova'; font-size: 14px; height: 100%;}
.clr{display: block; clear: both;}
a{color: blue; cursor: pointer;}
body{
	padding-top: 80px;
}
p{
	padding: 10px 0;
}
code{
	padding: 5px;
	background: #333;
	color: #fff;
	display: block;
	margin-top: 2px;
}
header{
	background: #30b4d7;
	color: #fff;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
aside{
	float: left;
	background: #eee;
	padding: 10px 0;
	width: 15%;
	min-height: 80%;
}
aside ul,
aside ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
}
aside ul li a{
	display: block;
	padding: 5px 20px;
	color: #333;
	font-size: 16px;
	text-decoration: none;
}
aside ul li a:hover{
	background: #ddd;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
}
article{
	float: left;
	padding: 30px;
	width: 85%;
}
.site-title{
	margin: 0;
	padding: 0 0 10px;
	border-bottom: 1px solid #ddd;
}
.item-title{
	margin: 40px 0 5px;
	font-size: 20px;
	padding: 0 0 10px;
	
}
a.download-button{
	display: inline-block;
	float: right;
	color: #fff;
	background: #950;
	line-height: 30px;
	padding: 0 20px;
	margin: 15px 0 15px 5px;
	text-decoration: none;
	text-shadow: 1px 1px #000;
	box-shadow: 1px 1px 1px #563000;
}
a.download-button:active{box-shadow: 1px 1px 1px #563000 inset;}